/* Footer.footer */
.footer-left {
  min-height: 20vh;
  color: white;
  background-color: #2a9d8f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-right {
  min-height: 20vh;
  background-color: #2a9d8f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Responsive footer */
@media (max-width: 768px) {
  .footer-left {
    width: 100%;
    border-radius: 1em 1em 0 0;
    min-height: 10vh;
    padding: 0.5em 0 0.5em 0;
  }
  .footer-right {
    width: 100%;
    min-height: 10vh;
    margin: 0 10% 0 10%;
    border-radius: 0 0 1em 1em;
  }
  #contact-details {
    font-size: small;
  }
}

#contact-details {
  list-style-type: none;
  text-align: center;
}
